.item-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: [left-margin-col] 15% [main-col] auto [right-margin-col] 15%;
    min-height: 100vh;
    margin-top: 16px;
    margin-bottom: 40px;
}

.item-list-category-breadcrumb {
    margin-left: 15%;
}

.item-list-row {
    grid-column-start: main-col;
    display: inline-grid;
    grid-template-columns: [first-col] 180px [middle-col] auto [last-col] 20%;
    background-color: #fff;
    padding: 16px;
    border-bottom: 1.5px solid #eeeeee;
}

.item-list-row .item-info-first-col {
    grid-column-start: first-col;
}

.item-info-first-col img {
    width: 100%;
    border-radius: 4px;
}

.item-info-first-col img, .item-list-row .item-info-second-col .item-title {
    cursor: pointer;
}

.item-list-row .item-info-second-col {
    grid-column-start: middle-col;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    font-size: 18px;
}

.item-list-row .item-info-second-col .item-title {
    margin-top: 32px;
}

.item-list-row .item-info-second-col .item-price {
    font-size: 24px;
    margin-right: 10px;
}

.item-list-row .item-info-third-col {
    grid-column-start: last-col;
    font-size: 12px;
    padding-top: 32px;
}